In [54]:
import pandas as pd
import matplotlib.pyplot as plt

In [55]:
df=pd.read_csv("C:\\Users\\LENOVO\\Downloads\\heart.csv")

In [56]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [57]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [58]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [59]:
# Separate features and target
X = df.drop(columns='target')
y = df['target']

In [60]:
# Identify numeric and categorical columns
numeric_features = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
categorical_features = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal']

In [61]:
#Handle missing values
#We will use SimpleImputer to fill missing values for both numeric and categorical features.
from sklearn.impute import SimpleImputer

# Create imputers
numeric_imputer = SimpleImputer(strategy='median')
categorical_imputer = SimpleImputer(strategy='most_frequent')

# Apply imputers
X[numeric_features] = numeric_imputer.fit_transform(X[numeric_features])
X[categorical_features] = categorical_imputer.fit_transform(X[categorical_features])

In [62]:
from sklearn.preprocessing import StandardScaler

# Create and apply scaler
scaler = StandardScaler()
X[numeric_features] = scaler.fit_transform(X[numeric_features])

In [63]:
from sklearn.preprocessing import OneHotEncoder

# Create OneHotEncoder and fit_transform
encoder = OneHotEncoder(drop='first', sparse=False)  # drop='first' to avoid multicollinearity
encoded_cats = encoder.fit_transform(X[categorical_features])

# Convert encoded categorical features to DataFrame
encoded_cats_df = pd.DataFrame(encoded_cats, columns=encoder.get_feature_names_out(categorical_features))

# Drop original categorical features and concatenate encoded features
X = X.drop(columns=categorical_features).reset_index(drop=True)
X = pd.concat([X, encoded_cats_df], axis=1)

C:\Users\LENOVO\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [64]:
from sklearn.preprocessing import PolynomialFeatures

# Create PolynomialFeatures transformer
poly = PolynomialFeatures(degree=2, interaction_only=True, include_bias=False)

# Apply PolynomialFeatures
X_poly = poly.fit_transform(X)

In [65]:
from sklearn.model_selection import train_test_split

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X_poly, y, test_size=0.2, random_state=42)